findspark=2.0.0
ipython=7.31.1
ipython_genutils=0.2.0
ipywidgets=7.6.5
jupyter=1.0.0
jupyter_client=7.1.2
jupyter_console=6.4.0
jupyter_core=4.9.1
jupyterlab_pygments=0.1.2
jupyterlab_widgets=1.0.0
matplotlib=3.5.1
matplotlib-inline=0.1.2
notebook=6.4.8
pandas=1.4.2
pip=21.2.4
pyspark=3.2.1
scikit-learn=1.0.2
sklearn=0.0